/*estilos vista splash y principal*/
.img-fondo{
  width: 100%;
  height: 100vh;
}
/*vista principal*/
.img{
  position: relative;
}
.button{
}

.option-img{
  width: 25px;
  height: 25px;
}

.input-digits{
  width: 15px;
}

.data{
  width: 100%;
  height: 100vh;
}
