<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <!--Import jQuery before bootstrap.css-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="container-flex">
      <div class="row">
        <div class="col-xs-12">
          <a href="file:///C:/Users/Mar%C3%ADa%20Ruiz/Documents/3er/retos/LYFT/views/principal.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
          <h3 class="text-center">sing up</h1>
          <p class="text-center">Join now for free ride credit</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-flex">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-12">
          <form class="form-horizontal">
            <div class="form-group has-success has-feedback">
              <div class="col-xs-8">
                <div class="input-group">
                  <span class="input-group-addon">
                    <select class="" name="">
                      <option data-img-src="../assets/images/mexico.png" value="100" class="option-img"></option>
                      <option value="100" class="option-img"></option>
                      <option value="100" class="option-img"></option>
                      <option value="100" class="option-img"></option>
                    </select>
                  </span>
                  <input type="text" class="form-control" id="inputGroupSuccess2" aria-describedby="inputGroupSuccess2Status">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container-flex">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">We'll send a text to verify your phone</p>
          <button id="button-code" type="button" class="btn btn-default btn-lg btn-block">next</button>
        </div>
      </div>
    </div>

    <div id="alert">
      <div class="container-flex">
        <div class="row">
          <div class="col-xs-12">
            <div id="code"></div>
          </div>
        </div>
      </div>
      <div class="container-flex">
        <div class="row">
          <div class="col-xs-12">
            <div>
              <a href="file:///C:/Users/Mar%C3%ADa%20Ruiz/Documents/3er/retos/LYFT/views/verify.html"><input id="" class="col-xs-offset-10 col-xs-2 text-uppercase btn btn-default button" type="button" value="ok"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Import jQuery before bootstrap.js-->
    <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/alert.js"></script>
  </body>
</html>
